<FilesMatch "documentation.html">
    AuthType Basic
    AuthName "Passwortgeschützter Bereich"
    AuthUserFile /kunden/homepages/21/d4295954087/services/.htpasswd
    require user API
</FilesMatch>
