@font-face {
    font-family: 'NotesStyle';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/NotesStyleWeb-Regular.woff') format('woff');
    unicode-range: U+20-7E, U+A0-FF, U+131, U+141-142,
    U+152-153, U+160-161, U+178, U+17D-17E,
    U+192, U+2C6-2C7, U+2C9, U+2D8-2DD,
    U+3A0, U+3A3, U+3BC, U+3C0,
    U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022,
    U+2026, U+2030, U+2039-203A, U+2044,
    U+20AC, U+2122, U+2126, U+2202,
    U+2206, U+220F, U+2211-2212, U+2215,
    U+2219-221A, U+221E, U+2224, U+2227,
    U+222B, U+2248, U+2260, U+2264-2265,
    U+22C5, U+25AF, U+25CA, U+FB01-FB02;
}

@font-face {
    font-family: 'NotesStyle';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/NotesStyleWeb-Bold.woff') format('woff');
    unicode-range: U+20-7E, U+A0-FF, U+131, U+141-142,
    U+152-153, U+160-161, U+178, U+17D-17E,
    U+192, U+2C6-2C7, U+2C9, U+2D8-2DD,
    U+3A0, U+3A3, U+3BC, U+3C0,
    U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022,
    U+2026, U+2030, U+2039-203A, U+2044,
    U+20AC, U+2122, U+2126, U+2202,
    U+2206, U+220F, U+2211-2212, U+2215,
    U+2219-221A, U+221E, U+2224, U+2227,
    U+222B, U+2248, U+2260, U+2264-2265,
    U+22C5, U+25AF, U+25CA, U+FB01-FB02;
}

/* General */
html, body {
    font-family: 'NotesStyle', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

body {
    position: relative;
    overflow-y: scroll;
    padding-top: 66px;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #ffffff;
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 102px;
    }
}

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

h2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}

h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

h6 {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
}


a {
    color: #ffffff;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #0093da;
    text-decoration: none;
}

:focus {
    box-shadow: none !important;
}

.text-light-blue {
    color: #0093da;
}

.text-hyphens {
    hyphens: auto;
}

.navbar {
    background-color: #004994;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-size: 1rem;
    line-height: 125%;
    letter-spacing: 2px;
}

.navbar-toggler {
    padding: .25rem .75rem 0.25rem 0;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media screen and (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        width: fit-content;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 40px;
    }

    .navbar-expand-lg .navbar-nav .nav-link:before {
        display: block;
        border-top: 1px solid #c8e9fc;
        content: "";
    }
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link:active,
.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #009ee3;
}

.nav-link--normal {
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 2px 0 !important;
    height: 26px;
    text-decoration: none;
    text-transform: unset !important;
}

.nav-link--normal:hover {
    color: #144e80 !important;
    font-weight: bold;
    border-bottom: 2px solid black;
}

@media screen and (min-width: 992px) {
    .navbar {
        padding-top: 1.5rem;
    }

    .navbar > .container {
        flex-direction: column;
        align-items: start;
    }

    .navbar-brand {
        font-size: 1.5rem;
        line-height: 100%;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 12px;
        padding-left: 12px;
    }

    .navbar-expand-lg .navbar-nav .nav-link:nth-child(1) {
        padding-left: 0;
    }
}

@media screen and (min-width: 640px) {
    .navbar  {
        background-image: url('../images/logo_bg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
    }
}

article {
    background: linear-gradient(
            to bottom,
            #004994 0%,
            #009fe3 50%,
            #004994 100%
    ) 0 0 / 100% 2400px repeat-y;
}

.accordion-item {
    border: none;
}

.accordion-button {
    font-size: 1rem;
    padding-top: 6px;
    padding-bottom: 6px;
}

.accordion-button,
.accordion-button:not(.collapsed) {
    font-weight: 400;
    color: #000000;
    background-color: #afdef9;
}

.accordion-body {
    color: #000000;
    background-color: #c9e9fc;
}

.accordion-body a {
    color: #38b6ff;
}

.accordion-body a:hover,
.accordion-body a:active,
.accordion-body a:focus {
    color: #ffffff;
}

.carousel-control-next, .carousel-control-prev {
    width: auto;
}

.text-sm {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

.text-md {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
}

.text-lg {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}

.text-xl {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

@media (min-width: 576px) {
    .text-xl {
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
    }
}

@media (min-width: 1200px) {
    .text-xl {
        font-size: 60px;
        font-weight: 300;
        line-height: 60px;
    }
}

#footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#footer .col-12 {
    border-top: 1px solid #c9e9fc;
}

/* Service card */
#services h5 {
    margin-bottom: 13px;
}

#services p {
    margin-bottom: 31px;
}

#services .card h4 a {
    color: #ffffff;
}

#services .card h4 a:hover,
#services .card h4 a:focus {
    color: #ffffff;
}

/* Services */
body.services {
    margin: 0;
    padding: 0;
}

body.services .services-wrapper {
    position: relative;
    height: 100%;
    padding-bottom: 40px;
    background-color: #ffffff;
}

body.services h1 {
    font-weight: 600;
    text-align: left;
}

body.services h1 span {
    font-size: 200%;
    vertical-align: sub;
}

body.services footer > .container > .row > .col:before {
    display: block;
    margin-top: 2rem;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    color: #000;
    border-top: 2px solid #000;
    content: "";
}

@media (min-width: 992px) {
    body.services .services-wrapper {
        margin-right: 40px;
        margin-left: 40px;
    }

    .w-lg-50 {
        width: 50% !important;
    }
}

@media (min-width: 1400px) {
    body.services .container,
    body.services .container-lg,
    body.services .container-md,
    body.services .container-sm,
    body.services .container-xl,
    body.services .container-xxl {
        padding-right: var(--bs-gutter-x,5rem);
        padding-left: var(--bs-gutter-x,5rem);
    }
}